.cabecera__container{
    display: flex; /*implementacion de flexbox*/
    justify-content: space-between; /*espaciado de elementos*/
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecera__buscar__item{
    display: none;
}

.superior__seccion__container{
    display: flex;
    align-items: center;
    white-space: none;
    overflow: scroll;
    gap: 15px;
}

.rodapie__container{
    display: flex;
    flex-flow: column wrap;
}

.menu__container{
    position: fixed;
    bottom: 6%;
    height: 75px;
    width: 100%;
}
/*Menu*/
.menu__lista{
    display: flex;
    justify-content: space-around;
    height: 100%;

}
.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4){
    display: none;
}

.menu__lista li{
    align-self: center;    
}

.menu__itens{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (min-width:834px) {

    /* Cabecera */
    .cabecera__buscar__item{
        display: block
    }

    .menu__container{
        left: 0;
        height: auto;
        width: 74px;
        top: 80px;
    }
    
    .menu__lista{
        flex-direction: column;
        justify-content:flex-start;
        padding-top: 15px;
        gap:33px;
    
    }

    /* Rodapie */
    .rodapie__container{
        justify-content: space-between;
    }
}

@media (min-width: 1440px) {
    .menu__container{
        width: 239;
        overflow: scroll;
    }

    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4){
        display: flex;
    }

    .menu__lista{
        height: auto;
        padding: 20px 17px 20px 15px;
    }
}

/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {
}
*/